xsd/adapters/niem-gml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-gml/6.0/"
  version="ps02"
  xml:lang="en-US"
  xsi:schemaLocation="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/ ../utility/appinfo.xsd https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/ ../utility/conformanceTargets.xsd"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ReferenceSchemaDocument"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-gml="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-gml/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xls="https://docs.oasis-open.org/niemopen/ns/model/external/ogc/xls/1.1.0/dhs-gmo/2.1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM adapter types for geospatial components from GML 3.2.1, a subset of which is included with this release as an external standard.  The Geography Markup Language (GML) is defined by the Open Geospatial Consortium (OGC).</xs:documentation>
    <xs:documentation>
      NIEM Model Version 6.0
      Project Specification 02
      1 January 2025
      Copyright (c) OASIS Open 2025. All Rights Reserved.
      Source: https://docs.oasis-open.org/niemopen/niem-model/v6.0/ps02/xsd/
      Latest stage of narrative specification:https://docs.oasis-open.org/niemopen/niem-model/v6.0/niem-model-v6.0.html
      NIEMOpen IPR Statement:https://github.com/niemopen/oasis-open-project/blob/main/IPR-STATEMENT.md
      License: https://github.com/niemopen/niem-model/blob/main/LICENSE.md.
 
      This work is licensed under a Creative Commons Attribution 4.0 International License:
      CC BY 4.0: Attribution 4.0 International, https://creativecommons.org/licenses/by/4.0/.
      In addition to the above license, each Contributor also agrees in the CLA to provide the
      additional Specification Non-Assertion Covenants to support finally-approved for any Project
      Specifications, as explained in Section 15.3 of the OASIS Open Project Rules.    
    </xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="GML" literal="Geography Markup Language"/>
      <appinfo:LocalTerm term="Multi" definition="one or more"/>
      <appinfo:LocalTerm term="OGC" literal="Open Geospatial Consortium"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../external/ogc/gml/3.2.1/gml.xsd" appinfo:externalImportIndicator="true">
    <xs:annotation>
      <xs:documentation>Geography Markup Language (GML) version 3.2.1 schemas.  See http://www.opengeospatial.org OGC document 07-036 for documentation: "The Geography Markup Language (GML) was originally developed within the Open Geospatial Consortium, Inc. (OGC). ISO 19136 was prepared by ISO/TC 211 jointly with the OGC."  See http://schemas.opengis.net/gml/ for schemas.</xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/external/ogc/xls/1.1.0/dhs-gmo/2.1.0" schemaLocation="../external/ogc/ols/1.1.0/dhs-gmo/2.1.0/ols.xsd" appinfo:externalImportIndicator="true">
    <xs:annotation>
      <xs:documentation>A profile of OpenGeospatialConsortium (OpenGIS, OGC) OpenLS (Location Services) version 1.1 schemas. A profile of OpenGeospatialConsortium (OpenGIS, OGC) OpenLS (Location Services) version 1.1 schemas that have been edited to use GML version 3.2.1 schemas instead of the GML version 3.0 schemas that were current when OpenLS version 1.1 was promulgated.  See http://www.opengeospatial.org for documentation, http://schemas.opengis.net/ols/ for schemas.</xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="CurveAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a curve is a 1-dimensional primitive. Curves are continuous, connected, and have a measurable length in terms of the coordinate system.  A curve is composed of one or more curve segments. Each curve segment within a curve may be defined using a different</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Curve" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A curve is a 1-dimensional primitive. Curves are continuous, connected, and have a measurable length in terms of the coordinate system.  A curve is composed of one or more curve segments. Each curve segment within a curve may be defined using a different interpolation method. The curve segments are connected to one another, with the end point of each segment except the last being the start point of the next segment in the segment list.  The orientation of the curve is positive.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EllipseAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for an ellipse specified by a point, major axis, minor axis and rotation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="xls:Ellipse" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>An ellipse specified by a point, major axis, minor axis and rotation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnvelopeAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for an envelope, which defines an extent using a pair of positions defining opposite corners in arbitrary dimensions. The first direct position is the "lower corner" (a coordinate position consisting of all the minimal ordinates for each dimension for all points within</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Envelope" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>An envelope which defines an extent using a pair of positions defining opposite corners in arbitrary dimensions. The first direct position is the "lower corner" (a coordinate position consisting of all the minimal ordinates for each dimension for all points within</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FeatureAdapterType">
    <xs:annotation>
      <xs:documentation>A data type that encapsulates a GML feature instance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:AbstractFeature" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>This abstract element serves as the head of a substitution group which may contain any elements whose content model is derived from gml:AbstractFeatureType.  This may be used as a variable in the construction of content models.   gml:AbstractFeature may be thought of as "anything that is a GML feature" and may be used to define variables or templates in which the value of a GML property is "any feature". This occurs in particular in a GML feature collection where the feature member properties contain one or multiple copies of gml:AbstractFeature respectively.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeometryAdapterType">
    <xs:annotation>
      <xs:documentation>A data type that encapsulates a GML geometry element.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:AbstractGeometry" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The AbstractGeometry element is the abstract head of the substitution group for all geometry elements of GML. This includes pre-defined and user-defined geometry elements. Any geometry element shall be a direct or indirect extension/restriction of AbstractGeometryType and shall be directly or indirectly in the substitution group of AbstractGeometry.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LineStringAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a geometric curve that consists of a single segment with linear interpolation.  A gml:LineString is a special curve that consists of a single segment with linear interpolation. It is defined by two or more coordinate tuples, with linear interpolation between them. The number of direct positions in the list shall be at least two.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:LineString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:LineString is a special curve that consists of a single segment with linear interpolation. It is defined by two or more coordinate tuples, with linear interpolation between them.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MultiCurveAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a geometry collection that includes one or more curves or line strings. A gml:MultiCurve is defined by one or more gml:AbstractCurve elements. The members of the geometric aggregate may be specified either using the "standard" property (gml:curveMember) or the array property (gml:curveMembers). It is also valid to use both the "standard" and the array properties in the same collection.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:MultiCurve" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:MultiCurve is defined by one or more gml:AbstractCurves. The members of the geometric aggregate may be specified either using the "standard" property (gml:curveMember) or the array property (gml:curveMembers). It is also valid to use both the "standard" and the array properties in the same collection.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MultiGeometryAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a geometry collection that includes one or more geometries, potentially of different types. Gml:MultiGeometry is a collection of one or more GML geometry objects of arbitrary type. The members of the geometric aggregate may be specified either using the "</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:MultiGeometry" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A collection of one or more GML geometry objects of arbitrary type. The members of the geometric aggregate may be specified either using the "standard" property (gml:geometryMember) or the array property (gml:geometryMembers). It is a</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MultiPointAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a geometry collection that includes one or more points. A gml:MultiPoint consists of one or more gml:Points. The members of the geometric aggregate may be specified either using the "standard" property (gml:pointMember) or the array property (gml:pointMembers). It is also valid to use both the "standard" and the array properties in the same collection.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:MultiPoint" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:MultiPoint consists of one or more gml:Points. The members of the geometric aggregate may be specified either using the "standard" property (gml:pointMember) or the array property (gml:pointMembers). It is also valid to use both the "standard" and the array properties in the same collection.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MultiSurfaceAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a geometry collection that includes one or more Polygons or Surfaces.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:MultiSurface" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A geometry collection that includes one or more Polygons or Surfaces.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PointAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a 2D or 3D geometric point.  A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Point" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PolygonAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a polygon; a geometric surface defined by a single surface patch whose boundary is coplanar.  A gml:Polygon is a special surface that is defined by a single surface patch (see D.3.6). The boundary of this patch is coplanar and the polygon uses planar interpolation in its interior. The elements exterior and interior describe the surface boundary of the polygon.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Polygon" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:Polygon is a special surface that is defined by a single surface patch (see D.3.6). The boundary of this patch is coplanar and the polygon uses planar interpolation in its interior.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SurfaceAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a surface, which is a 2-dimensional primitive and is composed of one or more surface patches.  The surface patches are connected to one another.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Surface" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A Surface is a 2-dimensional primitive and is composed of one or more surface patches.  The surface patches are connected to one another.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AreaCurveAdapter" type="niem-gml:CurveAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A geospatial curve.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AreaEnvelopeAdapter" type="niem-gml:EnvelopeAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A rectangular geospatial area.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AreaPointAdapter" type="niem-gml:PointAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A location specified by a 2D or 3D geometric point.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AreaPolygonAdapter" type="niem-gml:PolygonAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A geospatial polygon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AreaRegionGeometryAdapter" type="niem-gml:GeometryAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A GML geometry that describes a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EllipseAdapter" type="niem-gml:EllipseAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>An ellipse specified by a point, major axis, minor axis and rotation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FeatureAdapter" type="niem-gml:FeatureAdapterType" nillable="true">
    <xs:annotation>
      <xs:documentation>A generic GML feature adapter.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GeometryAdapter" type="niem-gml:GeometryAdapterType" nillable="true">
    <xs:annotation>
      <xs:documentation>A general-purpose GML geometry adapter.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationFeatureAdapter" type="niem-gml:FeatureAdapterType" substitutionGroup="nc:LocationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>A GML feature that describes a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationGeometryAdapter" type="niem-gml:GeometryAdapterType" substitutionGroup="nc:LocationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>A GML geometry that describes a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationGeospatialPointAdapter" type="niem-gml:PointAdapterType" substitutionGroup="nc:LocationGeospatialCoordinateAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A 2D or 3D geometric point.  A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
